@(menuGroups: List[models.ui.MenuGroup])
@common.page("Blank")(menuGroups) {
<!--page header start-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">A blank page </h2>

            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sample</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blank page</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</div>
<!--page header end-->

<div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
                <h3>Sample Content </h3>
            </div>
        </div>

    </div>
</div>


}