@(menuGroups: List[models.ui.MenuGroup])
@common.page("Dashboard")(menuGroups) {

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h3 class="section-title">Dashboard</h3>
        <a href="https://apps.fortnox.se/oauth-v1/auth?client_id=NoKdIZAu9OT5&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Fusers%2Fauth%2Ffortnox%2Fcallback&scope=article%20order%20price%20bookkeeping%20settings%20invoice&state=abc&access_type=offline&response_type=code
">fortnox auth</a>
    </div>
</div>


}