@(sourceVersion: String)

@main("Welcome to Play") {
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="jumbotron">
        <h1 class="display-4">Hello, welcome to Autolink!</h1>
        <p class="lead">A scala web application powered by playframework</p>
        
        

        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button id="myBtn" type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>

      </br>
      
      <span class="badge badge-warning">Source Version:</span><span class="badge badge-pill badge-success">@sourceVersion</span>

      </div>
    </div>

  </div>



}
