@import models.ui.UIHelpers._
@import models.ui.UserForm.Roles
@import helper._
@import views.html.component._
@(menuGroups: List[models.ui.MenuGroup], users: List[models.record.User], form: Form[models.ui.UserForm.Data],form1: Form[models.ui.UserForm.Data1], postUrl: Call, putUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
<!--extra script-->
@scripts = {

    <!--sample scripts -->
    <script>

    </script>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/listusers.js")" type="text/javascript"></script>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
        <script>
            displayInfo('@value','@name');
        </script>
    }

}

@common.page("User list",scripts)(menuGroups) {
<!--page header start-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">List Users </h2>

            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</div>
<!--page header end-->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">

                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header p-3">
                            <h3 class="pt-2 d-inline-block text-primary">User list</h3>

                            <div class="float-right">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-user-modal">
                                    Add User
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <!--<th scope="col">Password</th>-->
                                    <th scope="col">Role</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Updated At</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(u <- users) {
                                    <tr>
                                        <td scope="col">@u._id</td>
                                        <td scope="col">@u.name</td>
                                        <td scope="col">@u.email</td>
                                       <!-- <td scope="col">@u.password</td>-->
                                        <td scope="col">@u.role</td>
                                        <td scope="col">@u.createdAt</td>
                                        <td scope="col">@u.updatedAt</td>
                                        <td>

                                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                                    data-target="#edit-user-modal"
                                                    data-id="@u._id"
                                                    data-name="@u.name"
                                                    data-email="@u.email"
                                                    data-password="@u.password"
                                                    data-role="@u.role"
                                            >
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                                                    data-target="#delete-user-modal"
                                                    data-id="@u._id"
                                                    data-name="@u.name"
                                            >
                                                <i class="fas fa-trash"></i>
                                            </button>

                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <hr/>

                            <!--form start-->
                            @* Global errors are not tied to any particular form field
                            @if(form.hasGlobalErrors) {
                            @form.globalErrors.map { error: FormError =>
                            <div>
                                @error.key: @error.message
                            </div>
                            }
                            }
                            @helper.form(postUrl) {
                            @helper.CSRF.formField

                            <div class="modal-body">
                                <div class="form-group">
                                    @helper.inputText(form("name"),Symbol("class") -> "form-control",Symbol("_label") -> "Name")
                                </div>

                                <div class="form-group">
                                    @helper.inputText(form("email"),Symbol("class") -> "form-control",Symbol("_label") -> "Email")
                                </div>

                                <div class="form-group">
                                    @helper.inputText(form("password"),Symbol("class") -> "form-control",Symbol("_label") -> "Password")
                                </div>
                                <div class="form-group">
                                    @select(form("role") ,models.ui.UserForm.Roles.values.toSeq.map(role => role.toString -> role.toString),Symbol("class") -> "form-control",Symbol("_label") -> "Role")
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            }*@
                            <!--form end-->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--------------------------------------- Modal add user start -------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--form start-->
            @* Global errors are not tied to any particular form field *@
            @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
            }
            }
            @helper.form(postUrl) {
                @helper.CSRF.formField

                <div class="modal-body">
                    <div class="form-group">
                        @helper.inputText(form("name"),Symbol("class") -> "form-control",Symbol("_label") -> "Name")
                    </div>

                    <div class="form-group">
                        @helper.inputText(form("email"),Symbol("class") -> "form-control",Symbol("_label") -> "Email")
                    </div>

                    <div class="form-group">
                        @helper.inputText(form("password"),Symbol("class") -> "form-control",Symbol("_label") -> "Password")
                    </div>
                    <div class="form-group">
                        @select(form("role") ,models.ui.UserForm.Roles.values.toSeq.map(role => role.toString -> role.toString),Symbol("class") -> "form-control",Symbol("_label") -> "Role")
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
            <!--form end-->
        </div>
    </div>
</div><!-- Modal add end-->
<!--------------------------------------- Modal add user end ---------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->

<!--------------------------------------- Modal delete user start ----------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                delete user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="deleteuser-id" href="/deleteuser/id" class="btn btn-primary" tabindex="-1" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------- Modal delete user end ------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->

<!--------------------------------------- Modal edit user start -------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--form start-->
            @* Global errors are not tied to any particular form field *@
            @if(form1.hasGlobalErrors) {
            @form1.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
            }
            }
            @helper.form(putUrl) {
            @helper.CSRF.formField

            <div class="modal-body">



                <div class="form-group">
                    @helper.inputText(form1("id"),Symbol("id") -> "txt-user-id-edit",Symbol("class") -> "form-control",Symbol("_label") -> "Id",Symbol("disabled") ->"")
                </div>
                <div class="form-group">
                    @helper.inputText(form1("name"),Symbol("id") -> "txt-user-name-edit",Symbol("class") -> "form-control",Symbol("_label") -> "Name")
                </div>

                <div class="form-group">
                    @helper.inputText(form1("email"),Symbol("id") -> "txt-user-email-edit",Symbol("class") -> "form-control",Symbol("_label") -> "Email")
                </div>

                <div class="form-group">
                    @helper.inputPassword(form1("password"),Symbol("id") -> "txt-user-password-edit",Symbol("class") -> "form-control",Symbol("_label") -> "Password")
                </div>
                <div class="form-group">
                    @select(form1("role") ,models.ui.UserForm.Roles.values.toSeq.map(role => role.toString -> role.toString),Symbol("class") -> "form-control",Symbol("_label") -> "Role",Symbol("id") -> "select-user-role-edit")
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                <!--<a id="edituser-id" href="/edituser/id" class="btn btn-primary" tabindex="-1" role="button">Save</a>-->
            </div>
            }
            <!--form end-->
        </div>
    </div>
</div><!-- Modal add end-->
<!--------------------------------------- Modal edit user end --------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->


}