@import helper.CSRF
@(menuGroups: List[models.ui.MenuGroup], params: play.api.libs.json.JsValue)(implicit request: RequestHeader)
@scripts = {
    <!--vuejs -->
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vue/login.js")" type="text/javascript"></script>
    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
        <script>
            displayInfo('@value','@name');
        </script>
    }
}

@serverInfoJson = { @params.toString }

@common.page("login vue",scripts, isLoggedIn = false)(menuGroups) {

    <div id="app-login" params=@serverInfoJson>
        <v-app>
            <v-main>
                <v-container>
                    <template>

                        <template>
                            <v-card class="mx-auto" max-width="500" elevation="2" tile outlined>
                                <v-card-title>Login form</v-card-title>

                                <!--show login error-->
                                <v-alert
                                        v-model="alert1"
                                        dismissible
                                        outlined
                                        prominent
                                        text type="error">
                                    {{loginError}}
                                </v-alert>

                                <v-form method="post" action="/login" id="nativeForm" ref="form" v-model="valid" lazy-validation>

                                    <v-card-text>
                                        @helper.CSRF.formField
                                        <v-text-field
                                                v-model="email"
                                                :rules="emailRules"
                                                label="E-mail"
                                                name="email"
                                                required>
                                        </v-text-field>

                                        <v-text-field
                                                v-model="password"
                                                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                                :rules="passwordRules"
                                                :type="show1 ? 'text' : 'password'"
                                                label="Password"
                                                name="password"
                                                v-on:click:append="show1 = !show1">
                                        </v-text-field>

                                    </v-card-text>


                                    <v-card-actions>

                                        <v-btn :disabled="!valid" color="success" class="mr-6" v-on:click="login">
                                            Login
                                        </v-btn>

                                        <v-btn color="error" class="mr-6" v-on:click="reset">
                                            Clear
                                        </v-btn>

                                    </v-card-actions>
                                </v-form>



                                <v-divider class="mx-4"></v-divider>
                                <div class="text-center">
                                    <v-chip class="ma-2" color="success" outlined>
                                        <v-icon left>
                                            mdi-server-plus
                                        </v-icon>
                                        {{params.branch}}
                                    </v-chip>

                                    <v-chip class="ma-2" color="deep-purple accent-4" outlined>
                                        <v-icon left>
                                            mdi-wrench
                                        </v-icon>
                                        {{params.commitHash}}
                                    </v-chip>
                                </div>

                            </v-card>
                        </template>

                    </template>
                </v-container>
            </v-main>
        </v-app>
    </div><!--app end-->

}
