@(header: String, headerContent: Html = Html(""))(contentLeft: Html = Html(""))(contentRight: Html = Html(""))
<div class="row">
    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header p-3">
                <h3 class="pt-2 d-inline-block text-primary">@header</h3>
                <div class="float-right">
                    @headerContent
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="ccol-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        @contentLeft
                    </div>
                    <div class="ccol-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        @contentRight
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>