@(pageTitle: String = "CHANGEME", breadcrumbParent: String = "PARENT", breadcrumbParentLink: String = "#", breadcrumb: String = "BREADCRUM")
<!--page header start-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">@pageTitle</h2>

            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@breadcrumbParentLink" class="breadcrumb-link">@breadcrumbParent</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@breadcrumb</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</div>
<!--page header end-->